manifest {
	description = 'Calculation of custom parameters'
	author = 'Vishram L. Terse'
	nextflowVersion = '20.10.0'
}

params {
	bedtools = "/usr/bin/bedtools"
	samtools = "/home/programs/samtools-1.7/samtools"
	merge_csvs_script = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/merge-csv_v3.py"
	sed_sh = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/sed.sh"
	cffgen = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/liftover.py"
	metafus_gen = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/metafus_gen.sh"
	metafus_append = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/metafus_table_append.sh"
	empty_excel = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/make_xlsx.py"
	filter_metafus = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/filter_metafuse.py"
	convert_metafus = "/home/diagnostics/pipelines/nf-core/rnafusion/scripts/convert_metafuse.py"
}

trace {
	enabled = true
	file = './Final_Output/pipeline_trace.txt'
	fields = 'hash,task_id,name,status,exit,realtime,%cpu,rss'
}
